
/* Commonly used stlying for the website */
:root{
    --mainText: font-family: 'Abril Fatface', cursive;
    --backgroundColor: rgb(133, 163, 151);
    --headerColor:rgb(40, 49, 55);
    --textBox:rgb(63, 91, 85);
    --textColor: rgb(238, 233, 233);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
}


/* STYLING FOR HEADER STARTS */
.banner {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:var(--headerColor);
    padding: 1rem;

}

.title{
    color: rgb(127, 127, 112);
    font-family: var(--mainText);
    background-color: var(--headerColor);
    font-size: 4rem;
}
/* STYLING FOR HEADER ENDS */

