/* Commonly used stlying for the website */
:root{
    --mainText: 'Oswald', sans-serif; 
    --backgroundColor: white;
    --headerColor:rgb(40, 49, 55);
    --headerText: rgb(245, 212, 63);
    --textColor: rgb(238, 233, 233);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
}


/* STYLING FOR HEADER STARTS */
.banner {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:var(--headerColor);
    padding: 1rem;

}

.title{
    color: var(--headerText);
    font-family: var(--mainText);
    background-color: var(--headerColor);
    font-size: 5rem;
}
/* STYLING FOR HEADER ENDS */

/* STYLLING FOR THE SEARCH AREA */
#search-area {
    border: 5px dashed darkblue;
}